
  .btn-create-user {
    padding-right: 4px;
  }

  #TableManageUser {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 200px;

      td, th {
        border: 1px solid #ddd;
        padding: 8px;
      }

      th {
        padding-top: 12px;
        margin-bottom: 12px;
        text-align: left;
        background-color: rgb(150, 148, 148);
        color: white;
      }

      td {
        .btn-edit {
          width: 50px;
          padding: 2px;
          border: none;
          outline: none;
          background: transparent;
          color: orange;

          &:hover {
            color: orange;
            background-color: rgb(187, 182, 182) !important;
    }
  }

        .btn-delete {
          width: 50px;
          padding: 2px;
          border: none;
          outline: none;
          background: transparent;
          color: red;

          &:hover {
            color: red;
            background-color: rgb(187, 182, 182) !important;
          }
          }
        }

        tr:nth-child(even) {
          background-color: #f2f2f2;
        }
}
  
  
  
 
  