@import '../Variables.scss';

.section-introduce {
    height: 400px;
    background-color: $color-light;

    .introduce-container {
        display: flex;
        height: 100%;
        color: rgb(82, 81, 81);

        .introduce-content {
            height: 80%;
            width: 50%;
            margin-top: 40px;
            margin-bottom: 40px;
            margin-left: 50px;

            .title {
                color: rgb(82, 81, 81);             
                font-size: 40px;
                font-weight: 500;
                padding: 5px;
            }

            .sub-title {
                font-size: 35px;
                font-weight: 400;
                padding: 5px;
                text-align: center;
            }

            .text {
                padding: 30px;
                font-size: 15px;
            }
        }

        .introduce-image {
            height: 100%;
            width: 50%;
            display: flex;

            .img-custom {
                background: url('../../../assets/Introduce/banner1.jpg') center center no-repeat;
                height: 300px;
                width: 100%;
                background-size: cover;
                background-position: center;
                margin-top: 50px;
                margin-bottom: 70px;
                margin-left: 50px;
                margin-right: 100px;
                border-radius: 50%;
            }
        }
    }
}

/* PC */
@media (min-width: 64em) {
   
}


/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .section-introduce {
        height: 380px;

        .introduce-container {
            margin: 0 30px;
            .introduce-content {
                margin: 0;
                margin-top: 35px;
                .intro-title {
                    font-size: 30px;
                    margin-top: 30px;
                }
                .sub-title {
                    font-size: 25px
                }
                .content {
                    margin: 0;
                }
            }

            .introduce-image {
                .img-custom {
                    height: 200px;
                    width: 90%;
                    margin: auto 0;
                    margin-left: 33px;
                }
            }
        }

    }
}

/* Mobile */
@media (max-width: 46.1875em) {
    .section-introduce {
        height: 220px;

        .introduce-container {
            margin: 0 10px;
            .introduce-content {
                margin: 0;
                margin-top: 15px;
                .intro-title {
                    font-size: 15px;
                    margin-top: 20px;
                }
                .sub-title {
                    font-size: 13px
                }
                .content {
                    margin: 0;
                }
                .text {
                    font-size: 10px;
                    padding: 20px;
                    padding-top: 10px;
                }
            }

            .introduce-image {
                .img-custom {
                    height: 150px;
                    width: 90%;
                    margin: auto 0;
                    margin-left: 20px;
                }
            }
        }

    }
    
}