@import '../Variables.scss';

.section-medical-facility {
    height: 428px;
    background-color: $text-light;;

    .medical-facility-container {
        margin: 0 50px;
        display: flex;
        flex-direction: column;

        .medical-facility-header {
            height: 50px;
            padding-top: 20px;

            .title-section {
                font-size:25px;
                font-weight: 600;
            }

            .btn-section {
                float: right;
                padding: 10px 15px;
                border: none;
                outline: none;
                background-color: $color-light-two;

                &:hover {
                    background-color: $color-medium-two;
                }
            }
        }

        .medical-facility-body {
            .slick-prev {
                left: 20px;
                background-color: $color-too-dark-two;
                z-index: 1;
                height: 40px;
                width: 40px;
            }

            .slick-next {
                right: 20px;
                background-color: $color-too-dark-two;
                height: 40px;
                width: 40px;
            }

            .img-customize {
                margin: 15px 20px ;
                cursor: pointer;

                img {
                    width: 85%;
                    margin-left: 27px;
                    height: 240px;
                    margin-top: 15px;
                }

                h3 {
                    padding-top: 10px;
                    font-size: 20px;
                    text-align: center;
                }

                &:hover {
                    opacity: 0.8;
                }
            }
        }
     
    }
}