@import '../Variables.scss';

#OutstandingDoctor {
    height: 50px;
}
.section-outstanding-doctor {
    height: 450px;
    background-color: $color-light-two;

    .outstanding-doctor-container {
        margin: 0 50px;
        display: flex;
        flex-direction: column;

        .outstanding-doctor-header {
            height: 50px;
            padding-top: 20px;
            margin-bottom: 20px;
            margin-top: 20px;

            .title-section {
                font-size:25px;
                font-weight: 600;
                color: $text-light;
                text-shadow: 1px 1px 1px #333;
            }

            .btn-section {
                float: right;
                padding: 10px 15px;
                border: none;
                outline: none;

                &:hover {
                    background-color: $color-dark;
                    color: $text-light;
                }
            }
        }

        .outstanding-doctor-body {
            .slick-prev {
                left: 20px;
                background-color: $color-too-dark-two;
                z-index: 1;
                height: 40px;
                width: 40px;
            }

            .slick-next {
                right: 20px;
                background-color: $color-too-dark-two;
                height: 40px;
                width: 40px;
            }

            .img-customize {
                margin: 15px 20px ;
                cursor: pointer;

                .img {
                    width: 200px;
                    height: 200px;
                    padding: 0 15px;
                    margin: 15px auto;
                    border-radius: 100%;
                }

                .img-text {

                    h3 {
                        padding-top: 10px;
                        font-size: 20px;
                        text-align: center;
                        color: $text-light;
                        text-shadow: 1px 1px 1px #333;
    
                    }
    
                    span {
                        color: $text-light;
                        text-shadow: 1px 1px 1px #333;
    
                    }
                }

                &:hover {
                    opacity: 0.8;
                }
            }
        }
     
    }
}

/* PC */
@media (min-width: 64em) {
   
}


/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .section-outstanding-doctor {
        height: 420px;
        .outstanding-doctor-container {
            margin: 0 30px;
            .outstanding-doctor-body {
                .img-customize {
                    .img-text {
                        h3 {
                            font-size: 17px;
                        }

                    } 

                }

            }
        }

    }

}

/* Mobile */
@media (max-width: 46.1875em) {
    #OutstandingDoctor {
    height: 20px;
}
    .section-outstanding-doctor {
        height: 280px;
        .outstanding-doctor-container {
            margin: 0 10px;
            .outstanding-doctor-header {
                margin-bottom: 0;
                padding-top: 15px;
                height: 30px;
                span {
                    font-size: 18px !important;
                }
            }
            .outstanding-doctor-body {
                .img-customize {
                    .img {
                        height: 120px;
                        width: 120px;
                    }
                    .img-text {
                        h3 {
                            font-size: 13px;
                        }

                    } 

                }

            }
        }

    }
    
}