@import './Variables.scss';

.home-header-container {
    height: 70px;
    width: 100%;
    background-color: $color-dark-two;
    padding: 0 20px;
    color: $text-light;
    position: fixed;
    top: 0;
    z-index: 1000;

    .home-header-content {
        padding: 0 40px;
        width: 100%;
        height: 100%;
        display: flex;

        .left-content {
            width: 20%;
            display: flex;
            align-items: center;

            i {
                font-size: 25px;
                color: $text-light;
                cursor: pointer;

                &:hover {
                    color: $color-dark;
                }
            }

            .header-logo {
                height: 80%;
                width: 30%;
                margin-left: 30px;
            }
        }

        .center-content {
            width: 60%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .child-content {
                cursor: pointer;
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    background-color: $color-dark;
                }

                .text-content {
                    a {
                        color: white;
                        outline: none;
                        .sub-title {
                            font-weight: 400;
                            font-size: 12px;
                        }
                        &:hover {
                                text-decoration: none;
                            }
                    }
                }
            }
        }

        .right-content {
            width: 20%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .support {
                padding-right: 50px;
                display: flex;
                align-items: center;

                &:hover {
                    color: $color-dark;
                }
                
                i {
                    margin-right: 5px;
                }
            }

            .language-vi {
                cursor: pointer;

                &:hover, &:active {
                    color: $color-dark;
                }
            }

            .language-en {
                cursor: pointer;
                margin: 0 10px;

                &:hover, &:active {
                    color: $color-dark;
                }
            }
        }
    }
}



.home-header-banner {
    background: url('../../assets/images/banner2.jpg') center center no-repeat;
    height: 600px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;

    .content-up {
        height: 65%;
        padding-top: 75px;

        .title1 {
            text-align: center;
            font-size: 30px;
            text-shadow: 1px 1px 1px white;
            margin-bottom: 5px;
            margin-top: 40px;
            color: #ba3061;
            font-weight: 600;
        }
    
        .title2 {
            text-align: center;
            font-size: 30px;
            font-weight: 600;
            color: #ba3061;
            text-shadow: 1px 1px 1px white;
            margin-bottom: 15px;
        }
    
        .search {
            width: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 20px auto;
            padding: 10px;
            border-radius: 25px;
            background: #ce386d;
            color: white;

            .input-search {
                display: flex;
                flex-direction: row;
                i {
                    margin: 0 5px;
                    display: flex;
                    align-items: center;
                   
                }
    
                input {
                    height: 30px;
                    width: 360px;
                    background: transparent;
                    border: none;
                    outline: none;
                    margin-right: 10px;
                    color: white;
                    &:focus {
                        box-shadow:0 0 0 0.1rem rgba(134, 26, 65, 0.25) !important;
                    }
                }

            }
            ul {    
                margin: 0 auto;
                width: 350px;
                list-style: none;
                li {
                    a {
                        background: transparent;
                        border: none;
                        outline: none;
                        color: white;

                    }
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .content-down {
        display: flex;
        height: 35%;
        align-items: flex-end;
        justify-content: center;
        background-image: linear-gradient(transparent,rgba(229, 226, 226, 0.5),rgb(255, 255, 255));
        padding-bottom: 15px;
        
        .options {
            display: flex;
            flex-direction: row;
            gap: 50px;
            margin: 0 100px;

            .option-child {
                width: 100px;
                text-align: center;

                .icon-child {
                    background: white;
                    width: 60px;
                    height: 60px;
                    padding: 10px;
                    border-radius: 50%;
                    text-align: center;
                    margin: 0 auto;

                    i {
                        font-size: 30px;
                        color: $color-dark;
                    }
                }

                .text-child {
                    font-size: 17px;
                    font-weight: 400;

                    &:hover {
                        color:  $color-dark;
                    }
                }
            }
        }
    }
}


/* PC */
@media (min-width: 64em) {
   
}


/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .home-header-container {
        .home-header-content {
            .left-content {
                .header-logo {
                    height: 70% ;
                    width: 50% ;
                    margin-left: 0;
                }
            }
            .right-content {
                .support {
                    padding-right: 0;
                }
            }
        }
    }

    .home-header-banner {
        height: 460px;
        .content-up {
            .title1 {
                margin-top: 0;
            }
        }
        .content-down {
            .options {
                .option-child {
                    .icon-child {
                        width: 50px;
                        height: 50px;
                        i {
                            font-size: 25px;
                        }
                    }

                }

            }

        }

    }
        
}

/* Mobile */
@media (max-width: 46.1875em) {
    .home-header-container {
        height: 40px;
        padding: 5px 0;
        .home-header-content {
            font-size: 12px;
            padding: 0 20px;
            .center-content {
                width: 80%;
                .child-content {
                    .text-content {
                        a {
                            .sub-title {
                                display: none;
                            }

                        }

                    } 

                }
            }
            .left-content {
                .header-logo {
                    height: 70% ;
                    width: 50% ;
                    margin-left: 0;
                }
            }
            .right-content {
                .support {
                    padding-right: 0;
                }
            }
        }
    }

    .home-header-banner {
        height: 300px;
        .content-up {
            padding-top: 60px;
            .title1 {
                margin-top: 0;
                margin-bottom: 0;
                font-size: 18px !important;
            }
            .title2 {
                font-size: 18px !important;
            }

            .search {
                margin: 0 auto;
                width: 60%;
                height: 30px;
                .input-search {
                    width: 100%;
                }
            }
        }
        .content-down {
            .options {
                grid-gap: 0;
                gap: 20px;
                width: 90%;
                margin: 0 30px;
                .option-child {
                    .icon-child {
                        width: 34px;
                        height: 34px;
                        display: flex;
                        justify-content: center;
                        i {
                            font-size: 15px;
                        }
                    }
                    .text-child {
                        font-size: 10px;
                    }

                }

            }

        }

    }
    
}