@import './Variables.scss';

.section-home-footer {
    height: 290px;
    background-color: rgb(126, 126, 126);
    color: white;
    margin-top: -20px;
    text-align: center;

    .home-footer-container {
        padding-top: 40px;

        img {
            width: 100%;
        }

        p {
            margin-top: 10px;
            a {
                color: #cf215d;
            }
        }
    }

}