@import './Variables.scss';

.section-home-footer {
    height: 240px;
    background-color: rgb(126, 126, 126);
    color: white;
    margin-top: -20px;
    text-align: center;

    .home-footer-container {
        padding-top: 40px;

        img {
            width: 100%;
        }

        p {
            margin-top: 10px;
            a {
                color: #cf215d;
            }
        }
    }

}

/* PC */
@media (min-width: 64em) {
   
}


/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .section-home-footer {
        height: 220px;
    }

}

/* Mobile */
@media (max-width: 46.1875em) {
     .section-home-footer {
        height: 110px;
        .home-footer-container {
            padding-top: 20px;
            p {
                font-size: 13px;
            }
        }
    }
    
}