$color-dark: rgb(198, 61, 109);
$color-medium: rgb(247, 100, 151);
$color-light: rgb(247, 189, 209);
$color-too-dark-two: rgb(117, 116, 116);
$color-dark-two: rgb(15, 14, 14);
$color-medium-two: rgb(174, 174, 174);
$color-light-two: rgb(147, 146, 146);
$color-too-light-two: pink;
$text-dark: black;
$text-light: white;
